.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  padding: 2rem 0;
  margin: 1rem 0;
    grid-row-start: 2;
   grid-column:1/-1;
}

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  padding: 2rem 0;
    grid-row-start: 5;
    grid-column:1/-1;
    width: 100%;
   margin: 1rem 0;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    width: clamp(10rem, 40%, 30rem);
    margin: 1rem 0;
}

form input{
    width: 100%;
}

button {
    height: 2.5rem;
    width: 30%;
}