* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent1: #C0C4B6;
    --accent2: #EADFDB;
    --accent3: #AEAFB1;
    --backGround: #FFFAF5;
    --background2: #D8C2B5;
    --text: #222;
    --text2: #333;
}

#root {
    background-color: var(--backGround);
    min-height: 100vh;
}